body {
    background-color: #000000; /* Fondo negro */
    color: #ffffff; /* Texto blanco */
    font-family: Arial, sans-serif; /* Fuente estándar */
    margin: 0;
    padding: 20px;
}
.header-content {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.logo img {
    max-height: 100px;
    margin-right: 25px; /* Espacio entre el logo y los subtítulos */
}
h1 {
    font-size: 2em;
    text-align: left;
    margin-top: 120px; /* Desplazar 4 líneas hacia abajo */
    margin-bottom: 10px;
}
.subtitles {
    display: flex;
    align-items: center;
}
h2 {
    font-size: 1.5em;
    margin-right: 20px; /* Espacio entre los subtítulos */
    position: relative;
    cursor: pointer;
    
}
h3 {
    font-size: 2.5em;
    margin-right: 20px; /* Espacio entre los subtítulos */
    position: relative;
    cursor: pointer;
    margin-top: 160px; /* Desplazar 4 líneas hacia abajo */
    
}
h4 {
    font-size: 1.5em;
    margin-right: 20px; /* Espacio entre los subtítulos */
    position: relative;
    cursor: pointer;
    
}
a h2 {
    color: #ffffff; /* Color blanco */
    text-decoration: none; /* Quitar el subrayado */
}
a h2:hover {
    color: #ffffff; /* Mantener el color blanco al pasar el ratón */
}
.tooltip {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000; /* Fondo negro */
    color: #ffffff; /* Texto blanco */
    padding: 10px;
    border-radius: 5px;
    white-space: nowrap;
    margin-top: 10px;
    border: 1px solid #062839; /* Borde azul */
}
.tooltip.active {
    display: block;
}
.documental {
    color: #808080; /* Color gris */
    font-size: 1.2em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 30px; /* Espacio adicional debajo del texto "Documental" */
}

.imgtecnologias {
    float: right; /* Colocar la imagen a la derecha */
    max-width: 100%; /* Ancho máximo de la imagen */
    height: auto;
}
.table-container {
    float: left; /* Colocar la tabla a la izquierda */
    margin-right: 20px; /* Espacio entre la tabla y la imagen */
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 50px;
}
th, td {
    border: 1px solid #000000; /* Borde negro*/
    padding: 10px;
    text-align: justify;
}
/* Estilos específicos para la primera tabla */
.first-table th, .first-table td {
    color: #757474;
    font-size: 1.2em;
}
.first-table th {
    text-align: justify;
}
.second-table {
margin-bottom: 20px; /* Ajusta este valor según la cantidad de espacio que desees después de la tabla */
}

/* Estilos específicos para la segunda tabla */
.second-table th {
    color: #15aad3;
    font-size: 1.5em;
    background-color: #000000cd;
}
.second-table td {
    color: #000000;
    font-size: 5em;
    background-color: #000000a8; /* Fondo gris claro */
}
footer {
    display: flex; /* Utilizar flexbox */
    justify-content: space-between; /* Espacio entre elementos */
    background-color: #15aad3; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
}

